[Unit]
Description=DeepCool AK500 Digital linux driver service.
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
Restart=no
ExecStart=/home/<your-user>/.cargo/bin/akl
StandardOutput=append:/var/log/akl.log
StandardError=append:/var/log/akl.log

[Install]
WantedBy=default.target
