[Unit]
Description=DeepCool AK500 Digital linux driver service.
After=graphical.target

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/akl
StandardOutput=append:/var/log/akl.log
StandardError=append:/var/log/akl.log
Environment=DISPLAY=<replace with output of echo $DISPLAY>
Environment=XAUTHORITY=<replace with output of echo $XAUTHORITY>

[Install]
WantedBy=default.target
